includes:
    - ./vendor/nunomaduro/larastan/extension.neon
    - phpstan-baseline.neon

parameters:

    paths:
        - app

    # The level 5 is the current level
    level: 5

    ignoreErrors:
        - '#PHPDoc tag @var#'
        -
            identifier: missingType.iterableValue
        - '#Call to an undefined static method CloudinaryLabs\\CloudinaryLaravel\\Facades\\Cloudinary::(upload|getUrl)\(\)#'
        - '#Call to an undefined static method Tymon\\JWTAuth\\Facades\\JWTAuth::(fromUser|getToken|invalidate)\(\)#'

    excludePaths:
        - ./.git
        - ./vendor/*
        - ./app/Services/Gmo/*
        - ./node_modules/*
        - ./app/Services/CognitoTokenApiGuard.php

    reportUnmatchedIgnoredErrors: false
